div.character-card {
  box-shadow: 3px 3px #fafafa;
  section.info {
    margin: 1rem 0;
    font-family: monospace;
    label {
      font-weight: bold;
      display: block;
      span {
        font-weight: normal;
        padding-left: 0.5rem;
      }
    }
  }
}
